
body {
  background-color: #2aa2a2;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: orange;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
