<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>WebApp class</h1>
  </div>

  <p id="demo">
    Welcome to the WebApp class, please sit and relax.
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/>

</body>

</html>